@keyframes fade-in {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

.mains {
    height: 120vh;
    background-color: #FFFFFF;
    animation: fade-in 0.3s ease-in forwards;
}

.logos {
    position: absolute;
    margin-top: 20vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

.logotext {
    position: absolute;
    margin-top: 29vh;
    font-size: 1.3vw;
    margin-left: 50%;
    color: #FFB35A;
    font-family: BlackHan;
    transform: translateX(-50%);
}

.wow {
    position: absolute;
    margin-top: 35vh;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 5vh;
    border: 0;
    border-radius: 5px;
    z-index: 3;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
}

.wow::-webkit-input-placeholder {
    background-image: url('../../../public/images/search.png');
    background-size: contain;
    background-position: 15px top;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: 0;
    padding-left: 45px;
}

.best {
    position: absolute;
    margin-top: 45vh;
    margin-left: 50%;
    font-size: 2.5vw;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: lighter;
    transform: translateX(-50%);
    font-family: BlackHan;
}

.changes {
    z-index: 1;
    width: 6vw;
    position: fixed;
    margin-left: 92%;
    margin-top: 85vh;
    transition: all ease-in-out .3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

    }
}

.userbox {
    position: absolute;
    display: flex;
    width: 90vw;
    height: 60vh;
    margin-top: 57vh;
    margin-left: 4vw;
}

.firstuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 40vh;
    margin-left: 2.2vw;
    margin-top: 15vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #c4eefa 0%, #5c72c4 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(94, 119, 255, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;


    .tier_diamond {
        width: 13vw;
        margin-left: 0.5vw;
        margin-top: -3.5vw;
    }

    .firstimage {
        width: 7vw;
        height: 7vw;
        border-radius: 4vw;
        margin-top: 2vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}

.seconduser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    margin-left: 2.2vw;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #ffe6a2 0%, #e06782 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(238, 98, 66, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_grand {
        position: absolute;
        width: 18vw;
        margin-left: -4.7vw;
        margin-top: -5vw;
    }

    .secondimage {
        width: 8vw;
        height: 8vw;
        border-radius: 4vw;
        margin-top: 7vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}

.thirduser {
    text-align: center;
    justify-content: center;
    width: 16vw;
    height: 50vh;
    margin-left: 2.5vw;
    margin-top: 5vh;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #acf4ff 0%, #38a4e5 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(0, 240, 255, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_challenger {
        position: absolute;
        width: 50vw;
        margin-left: -20.5vw;
        margin-top: -13.5vw;
    }

    .thirdimage {
        width: 9vw;
        height: 9vw;
        border-radius: 5vw;
        margin-top: 8vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}

.fourthuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    margin-left: 2.5vw;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #fbd1fc 0%, #ff37ff 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(197, 123, 255, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_master {
        margin-left: -0.3vw;
        width: 15.6vw;
        margin-top: -5vw;
    }

    .fourthimage {
        width: 8vw;
        height: 8vw;
        border-radius: 4vw;
        margin-top: 3.8vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}

.fifthuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 40vh;
    margin-left: 2.2vw;
    margin-top: 15vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #b0efe9 0%, #34b5a7 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(5, 255, 165, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_platinum {
        width: 15.6vw;
        margin-top: -4.7vw;
    }

    .fifthimage {
        width: 7vw;
        height: 7vw;
        border-radius: 4vw;
        margin-top: 2vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}