.mains {
    height: 120vh;
    background-color: #FFFFFF;
}

.logos {
    position: absolute;
    margin-top: 20vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

.logotext {
    position: absolute;
    margin-top: 29vh;
    font-size: 1.3vw;
    margin-left: 50%;
    color: #FFB35A;
    font-family: BlackHan;
    transform: translateX(-50%);
}

.wow {
    position: absolute;
    margin-top: 35vh;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 5vh;
    border: 0;
    border-radius: 5px;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
}

.wow::-webkit-input-placeholder {
    background-image: url('../../../public/images/search.png');
    background-size: contain;
    background-position: 15px top;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: 0;
    padding-left: 45px;
}

.best {
    position: absolute;
    margin-top: 45vh;
    margin-left: 50%;
    font-size: 2.5vw;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: lighter;
    font-family: Black Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translateX(-50%);
    font-family: BlackHan;
}

.changes {
    z-index: 1;
    width: 6vw;
    position: fixed;
    margin-left: 92%;
    margin-top: 85vh;
    transition: all ease-in-out .3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

    }
}

.userbox {
    position: absolute;
    display: flex;
    width: 90vw;
    height: 60vh;
    margin-top: 55vh;
    margin-left: 5vw;
    background-color: gray;
}

.firstuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 40vh;
    margin-left: 2.2vw;
    margin-top: 15vh;
    background-color: white;
}

.seconduser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    margin-left: 2.2vw;
    margin-top: 10vh;
    background-color: white;
}

.thirduser {
    text-align: center;
    justify-content: center;
    width: 16vw;
    height: 50vh;
    margin-left: 2.5vw;
    margin-top: 5vh;
    background-color: white;
}

.fourthuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    margin-left: 2.5vw;
    margin-top: 10vh;
    background-color: white;
}

.fifthuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 40vh;
    margin-left: 2.2vw;
    margin-top: 15vh;
    background-color: white;
}