.mainse {
    height: 120vh;
    background-color: #333333;
    animation: fade-in 0.4s ease-out forwards;
}

.logoing {
    position: absolute;
    margin-top: 20vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

.logotexts {
    position: absolute;
    margin-top: 29vh;
    font-size: 1.3vw;
    margin-left: 50%;
    color: #ec6f4a;
    font-family: GlitchGoblin;
    transform: translateX(-50%);
}

.wows {
    position: absolute;
    margin-top: 35vh;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 5vh;
    border: 0;
    border-radius: 5px;
    z-index: 3;
    background-color: #EFEFEF;
    background-repeat: no-repeat;
}

.wows::-webkit-input-placeholder {
    background-image: url('../../../public/images/search.png');
    background-size: contain;
    background-position: 15px top;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: 0;
    padding-left: 45px;
}

.besting {
    position: absolute;
    margin-top: 45vh;
    margin-left: 50%;
    font-size: 2.5vw;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: lighter;
    transform: translateX(-50%);
    font-family: BlackHan;
    color: #ec6f4a;
}

.change {
    z-index: 1;
    width: 7vw;
    position: fixed;
    margin-left: 91.5%;
    margin-top: 85vh;
    transition: all ease-in-out .3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);

    }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.valuserbox {
    position: absolute;
    display: flex;
    width: 90vw;
    height: 60vh;
    margin-top: 57vh;
    margin-left: 4vw;
}

.valfirstuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 40vh;
    margin-left: 2.2vw;
    margin-top: 15vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #c4eefa 0%, #5c72c4 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(94, 119, 255, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;


    .tier_diamond {
        width: 8vw;
        margin-left: 0.5vw;
        margin-top: -4vw;
    }

    .firstimage {
        width: 7vw;
        height: 7vw;
        border-radius: 4vw;
        margin-top: 2vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}


.valseconduser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    margin-left: 2.2vw;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #ffe6a2 0%, #e06782 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(238, 98, 66, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_grand {
        position: absolute;
        width: 10vw;
        margin-left: -0.8vw;
        margin-top: -5vw;
    }

    .secondimage {
        width: 8vw;
        height: 8vw;
        border-radius: 4vw;
        margin-top: 7vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}

.valthirduser {
    text-align: center;
    justify-content: center;
    width: 16vw;
    height: 50vh;
    margin-left: 2.5vw;
    margin-top: 5vh;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #acf4ff 0%, #38a4e5 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(0, 240, 255, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_challenger {
        position: absolute;
        width: 11vw;
        margin-left: -1vw;
        margin-top: -5.5vw;
    }

    .thirdimage {
        width: 9vw;
        height: 9vw;
        border-radius: 5vw;
        margin-top: 8vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}


.valfourthuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    margin-left: 2.5vw;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #fbd1fc 0%, #ff37ff 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(197, 123, 255, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_master {
        position: absolute;
        width: 10vw;
        margin-left: -0.8vw;
        margin-top: -5vw;
    }

    .fourthimage {
        width: 8vw;
        height: 8vw;
        border-radius: 4vw;
        margin-top: 7vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}


.valfifthuser {
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 40vh;
    margin-left: 2.2vw;
    margin-top: 15vh;
    border-radius: 10px;
    background-color: white;
    border: 5px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(0deg, #b0efe9 0%, #34b5a7 100%);
    border-image-slice: 50;
    box-shadow: 0px 0px 20px 5px rgba(5, 255, 165, 0.4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    .tier_platinum {
        position: absolute;
        width: 8vw;
        margin-left: -0.5vw;
        margin-top: -4vw;
    }

    .fifthimage {
        width: 7vw;
        height: 7vw;
        border-radius: 4vw;
        margin-top: 6vw;
        border: 0;
    }

    h2 {
        font-weight: lighter;
        font-family: BlackHan;
        font-size: 2.5vw;
    }
}