body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: BlackHan;
  src: url("./fonts/BlackHanSans-Regular.ttf");
}

@font-face {
  font-family: RustyHook;
  src: url("./fonts/RustyHooks.ttf");
}

@font-face {
  font-family: GlitchGoblin;
  src: url("./fonts/GlitchGoblin.ttf");
}

@font-face {
  font-family: Omyu;
  src: url("./fonts/omyu.ttf");
}